# -----------------------------
# Virtual environment
# -----------------------------
venv/

# -----------------------------
# Python cache and bytecode
# -----------------------------
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.pyc

# -----------------------------
# macOS system files
# -----------------------------
.DS_Store

# -----------------------------
# Logs, temporary files, IDEs
# -----------------------------
*.log
*.tmp
*.swp
.idea/
.vscode/